version: '2'
services:
  rancher:
    image: rancher/rancher:v2.0.6-rc2
    container_name: k8s-rancher
    volumes:
      - ./database/etcd:/var/lib/rancher/etcd
    ports:
      - "5480:80"
      - "5443:443"
    networks:
      - default
networks:
  default:
    external:
      name: {{ owner }} 
