[Unit]
Description=Kubernetes Proxy
After=network.target

[Service]
EnvironmentFile=-{{ kube_home }}/cfg/kube-proxy
ExecStart={{ kube_home }}/kubernetes/kube-proxy \
          $KUBE_LOGTOSTDERR \
          $KUBE_LOG_LEVEL \
          $NODE_HOSTNAME \
          $NODE_ADDRESS \
          $KUBE_MASTER \
          $KUBEPROXY_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
