[Unit]
Description=Kubernetes Kubelet
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=-{{ kube_home }}/cfg/kubelet
ExecStart={{ kube_home }}/kubernetes/kubelet \
          $KUBE_LOGTOSTDERR     \
          $KUBE_LOG_LEVEL       \
          $NODE_ADDRESS         \
          $NODE_PORT            \
          $NODE_HOSTNAME        \
          $KUBELET_API_SERVER   \
          $KUBE_ALLOW_PRIV      \
          $KUBELET_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
