#!/bin/sh
#
# Startup script for filebeat
#

. /etc/init.d/functions

CONFIG={{ filebeat_config }}
PIDFILE={{ filebeat_pid }}
LOGFILE={{ filebeat_log }}

DAEMON="{{ filebeat_home }}/filebeat/filebeat"

start() {
    nohup $DAEMON -e -c $CONFIG >> $LOGFILE 2>&1 & echo $! > $PIDFILE

    RETVAL=$?
    echo -n "Filebeat start: "
    [ $RETVAL -ne 0 ] && failure
    [ $RETVAL -eq 0 ] && success
    echo
    return $RETVAL
}

stop() {
    killproc -p $PIDFILE $DAEMON

    RETVAL=$?
    echo -n "Filebeat stop: "
    [ $RETVAL -ne 0 ] && failure
    [ $RETVAL -eq 0 ] && success
    echo
    return $RETVAL
}

test() {
    $DAEMON -c $CONFIG -configtest

    RETVAL=$?
    echo -n "Filebeat configuration test: "
    [ $RETVAL -ne 0 ] && failure
    [ $RETVAL -eq 0 ] && success
    echo
    return $RETVAL
}

restart() {
    test > /dev/null
    RETVAL=$?
    if [ $RETVAL -ne 0 ]; then
        return $RETVAL
    fi

    stop
    start
}

case "$1" in
  start)   start;;
  stop)    stop;;
  restart) restart;;
  test)    test;;
  *)       echo "Usage: $0 {start|stop|restart|test}"
           RETVAL=2;;
esac
exit $RETVAL

